:root {
  --red: #EB5757;
  --light-red: #FF8080;
  --teal: #025F4C;
  --light-teal: #0D7963;
  --black: #595959;
  --white: #F8F9FA;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: var(--white);
}

